.WelcomeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}
.google-btn {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 220px;
  height: 42px;
  background-color: #4285f4;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  cursor: pointer;
  align-self: flex-end;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  background-color: #4285f4;
  width: 70%;
  height: 100%;
  border: none;
  text-align: center;
  margin: 1px 10px;
}